.cards {
    padding-top: 53px;

    @include md {
        padding-top: 55px;
    }
}

.card {
    margin-top: 20px;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include xl {
        width: 1100px;
        height: 145px;
    }

    @include md {
        width: 288px;
        height: 418px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        margin: 0 136px;
    }

    .card-logo {
        padding-left: 53px;
        /*  position:relative;*/
    }
    .card-item {
        padding-left: 30px;
    }
    .card-logo-img {
        width: 96px;
        height: 76px;
        /* position:absolute;
    top:50%;
    left:50%;*/
    }
}
