/* filter */
.filter {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items:center;

    @include md {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
    }
}
.filter__select{

    @include xl {
        margin-left: 30px;
    }

    @include md {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 12px;
      
    }

    .filter__select input{

        @include xl {
            max-width: 189px;
            max-height: 16px;
        }

        @include md {
            width: 288px;
            height: 38px;
        } 
    }
}
